body{
	background-color: #4d4d4d
}

.nav li {
	visibility: hidden;
	height: 100%;
	width: 10%;
	background-color: red;
}

.head div {
	display: block;
	height: 25%;
    width: 25%;
    margin: 0 auto;
}

h1{
    color: gold;
    text-align: center;
}